* {
    margin: 0;
    padding: 0;
  }
  
  nav {
    width: 100%;
    height: 60px;
    background-color: #FA7070;
  }
  
  .nav_box {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 60px;
  }
  .my_shop {
    font-size: 1.5rem;
    font-weight: bold;
    color: #FBF2CF;
    cursor: pointer;
  }

  .header{
    width: 85%;
    height: 30px;
    background-color:#F8F8F8;
    margin-left: 140px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #6f6f6f;
    padding-left: 20px;
    padding-right: 20px;
    
  }

  .cart {
    cursor: pointer;
  }

  .cart .fa-cart-shopping{
    color: #FBF2CF;
  }
  .cart span:nth-child(1) {
    font-size: 2rem;
    color: white;
  }
  .cart span:nth-child(2) {
    padding: 0 3px;
    background-color: #3D8361;
    color: white;
    font-weight: bolx;
    border-radius: 5px;
    position: relative;
    top: -15px;
  }